<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a href="">{L_awards}: {L_aw_manage_achievements}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<script type="text/javascript">
	$(document).ready(function() {
		var action	= '';
		var data	= { };
		
		$('.eyeToggleTrigger').on('click', function(){
			var value	= $(this).next('.special_cb').val();
			
			action		= 'special';
			data.id		= $(this).next('.special_cb').attr('name');
			data.value	= (value == '1')? 0 : 1;
			
			ajax(action, data);
			
			if( value == '0' ){
				$(this).next('.special_cb').val(1);
				$(this).removeClass('eye');
				$(this).addClass('eye-gray');
				
			}else{
				$(this).next('.special_cb').val(0);
				$(this).removeClass('eye-gray');
				$(this).addClass('eye');
			}
		});
		
		$('.activeToggleTrigger').on('click', function(){
			var value			= $(this).next('.active_cb').val();
			
			action	= 'active';
			data.id		= $(this).next('.active_cb').attr('name');
			data.value	= (value == '1')? 0 : 1;
			
			ajax(action, data);
			
			if( value == '0' ){
				$(this).next('.active_cb').val(1);
				$(this).removeClass('fa-square-o icon-color-red');
				$(this).addClass('fa-check-square-o icon-color-green');
			}else{
				$(this).next('.active_cb').val(0);
				$(this).removeClass('fa-check-square-o icon-color-green');
				$(this).addClass('fa-square-o icon-color-red');
			}
		});
		
		$('#awards_achievements_table tbody').sortable({
			cancel: '.not-sortable, input, tr th.footer, th',
			cursor: 'pointer',
			update: function(){
				ajax('sort', $('form[name="post"]').serialize());
			},
		});
		
		function ajax(action, data){
			$.post('{EQDKP_ROOT_PATH}plugins/awards/ajax.php{SID}&'+action, 
				data,
				function(response){
					response = $.parseJSON(response);
					
					if(response.error_code == 0){
						$('#notify_container').notify('create', 'success', {text: response.error, title: {L_success|jsencode}, custom: true,}, {expires: 3000, speed: 1000});
					}else{
						$('#notify_container').notify('create', 'error', {text: response.error + response.error_code, title: {L_error|jsencode}, custom: true,}, {expires: 3000, speed: 1000});
					}
			});
		}
		
		$.each( $('div[class^="aw-"] .icon_colors'), function(){
			aw_icon_id	= $(this).parent().attr('class').substring(3);
			icon_areas	= $('.aw-' + aw_icon_id + ' svg').children('g').length;
			
			for(i=1; i<=icon_areas; i++){
				$('.aw-' + aw_icon_id + ' svg g:nth-child('+i+')').css('fill', $('.aw-' + aw_icon_id + ' i.color-' + i).text());
			}
		});
	});
</script>
<style>
	div[class^="aw-"] svg { height: 28px; width: 28px; margin: -9px 0px; }
</style>

<form method="post" action="{ACTION}" name="post">
	<div class="contentHeader">
		<h1 class="contentTitle">{L_aw_manage_achievements}</h1>
	</div>
	<div class="tableHeader floatRight">
		<button class="mainoption" type="button" name="add" onclick="window.location='manage_achievements.php{SID}&amp;aid=0'"><i class="fa fa-plus"></i>{L_aw_add_achievement}</button>
	</div>
	<div class="clear"></div>
	<table width="100%" border="0" cellspacing="1" cellpadding="2" class="table fullwidth colorswitch" id="awards_achievements_table">
		{ACHIEVEMENTS_LIST}
	</table>
	<div class="center pagination_wrapper">
		{PAGINATION}
	</div>
	<div class="contentFooter">
		<button class="mainoption" type="button" name="del" onclick="delete_warning();"><i class="fa fa-times"></i>{L_delete_selected_entries}</button>
		<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
	</div>
{CSRF_TOKEN}	
</form>