
<script type="text/javascript">
	$(function(){
		var action	= '';
		var data	= { };
		
		$('.aw_toggle_special').on('click', function(){
			action		= 'special';
			value		= $(this).next('.special_cb').val();
			data.id		= $(this).next('.special_cb').prop('name');
			data.value	= (value == '1')? 0 : 1;
			
			if( $(this).hasClass('aw_toggle_pending') ) return;
			ajax(action, data, {element:this, value:data.value, classes:['disabled', 'enabled']});
			// the new inline object = prevent overwriting 'data' & 'value' variable during ajax process, if multiple ajax requests at the same time
		});
		
		$('.aw_toggle_active').on('click', function(){
			action		= 'active';
			value		= $(this).next('.active_cb').val();
			data.id		= $(this).next('.active_cb').prop('name');
			data.value	= (value == '1')? 0 : 1;
			
			
			if( $(this).hasClass('aw_toggle_pending') ) return;
			ajax(action, data, {element:this, value:data.value, classes:['disabled', 'enabled']});
			// the new inline object = prevent overwriting 'data' & 'value' variable during ajax process, if multiple ajax requests at the same time
		});
		
		function changeToggleTriggerIcon(element, value, classes){
			$(element).removeClass('aw_toggle_pending');
			if(value){
				$(element).next('input[type="hidden"]').val(value);
				$(element).switchClass(classes[0], classes[1]);
			}else{
				$(element).next('input[type="hidden"]').val(value);
				$(element).switchClass(classes[1], classes[0]);
			}
		}
		
		$('#awards_achievements_table tbody').sortable({
			cancel: '.not-sortable, input, tr th.footer, th',
			cursor: 'pointer',
			update: function(){
				ajax('sort', $('form[name="aw_achievement_form"]').serialize());
			},
		});
		
		function ajax(action, data, change_icon=false){
			csrf_token		= $('form[name="aw_achievement_form"] .contentFooter').next('input[type="hidden"]').val();
			data[csrf_token] = csrf_token;
			
			if(change_icon) $(change_icon.element).addClass('aw_toggle_pending');
			$.post('{EQDKP_ROOT_PATH}plugins/awards/ajax.php{SID}&'+action, data,
				function(response){
					response = JSON.parse(response);
					
					if(!response.error){
						custom_message(response.return, {headertxt:{L_success|jsencode}, icon:'success', parent:false});
						if(change_icon) changeToggleTriggerIcon(change_icon.element, change_icon.value, change_icon.classes);
					}else{
						custom_message(response.return, {headertxt:{L_error|jsencode}, icon:'error', parent:false});
					}
			});
		}
		
		$.each( $('div[class^="aw-"] .icon_colors'), function(){
			aw_icon_id	= $(this).parent().prop('class').substring(3);
			icon_areas	= $('.aw-' + aw_icon_id + ' svg').children('g').length;
			
			for(i=1; i<=icon_areas; i++){
				$('.aw-' + aw_icon_id + ' svg g:nth-child('+i+')').css('fill', $('.aw-' + aw_icon_id + ' i.color-' + i).text());
			}
		});
	});
</script>
<style>
	div[class^="aw-"] svg{ height:28px; width:28px; margin:-9px 0px; }
	
	.aw_toggle_active,
	.aw_toggle_special					{ cursor:pointer; }
	
	.aw_toggle_pending:before,
	.aw_toggle_active:before,
	.aw_toggle_special:before			{ font-family:FontAwesome; font-size:16px; }
	
	.aw_toggle_active.enabled:before	{ content:'\f046'; color:#00a400; }
	.aw_toggle_active.disabled:before	{ content:'\f096'; color:#e80000; }
	
	.aw_toggle_special.enabled:before	{ content:'\f070'; color:#7d7d7d; }
	.aw_toggle_special.disabled:before	{ content:'\f06e'; }
	
	.aw_toggle_pending					{ animation:fa-spin 1s infinite steps(8); cursor:not-allowed; }
	.aw_toggle_pending:before			{ content:'\f110' !important; color:inherit !important; }
	
</style>

<form method="post" action="{ACTION}" name="aw_achievement_form">
	<div class="contentHeader">
		<h1 class="contentTitle">{L_aw_manage_achievements}</h1>
	</div>
	<div class="tableHeader floatRight">
		<button class="mainoption" type="button" name="add" onclick="window.location='manage_achievements.php{SID}&amp;aid=0'"><i class="fa fa-plus"></i>{L_aw_add_achievement}</button>
	</div>
	<div class="clear"></div>
	<table width="100%" border="0" cellspacing="1" cellpadding="2" class="table fullwidth colorswitch" id="awards_achievements_table">
		{ACHIEVEMENTS_LIST}
	</table>
	<div class="center pagination_wrapper">
		{PAGINATION}
	</div>
	<div class="contentFooter">
		<button class="mainoption" type="button" name="del" onclick="delete_warning();"><i class="fa fa-times"></i>{L_delete_selected_entries}</button>
		<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
	</div>
	{CSRF_TOKEN}
</form>