<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a href="">{L_awards}: {L_aw_manage_achievements}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<script type="text/javascript">
	$(document).ready(function() {
		var action = '';
		var id = '';
		var value = '';
		
		$('.eyeToggleTrigger').on('click', function(event){
			action = 'special';
			
			if ($(this).hasClass('eye')){
				// set 'special' to inactive
				$(this).next('.special_cb').val(0);
				
				id	  = $(this).next('.special_cb').attr('name');
				value = $(this).next('.special_cb').val();
				ajax(action, id, value);
				
				$(this).removeClass('eye');
				$(this).addClass('eye-gray');
			} else {
				// set 'special' to active
				$(this).next('.special_cb').val(1);
				
				id	  = $(this).next('.special_cb').attr('name');
				value = $(this).next('.special_cb').val();
				ajax(action, id, value);
				
				$(this).removeClass('eye-gray');
				$(this).addClass('eye');
			}
		});
		$('.activeToggleTrigger').on('click', function(event){
			action = 'active';
			
			if ($(this).hasClass('fa-check-square-o')){
				// set 'active' to inactive
				$(this).next('.active_cb').val(0);
				
				id	  = $(this).next('.active_cb').attr('name');
				value = $(this).next('.active_cb').val();
				ajax(action, id, value);
				
				$(this).removeClass('fa-check-square-o icon-color-green');
				$(this).addClass('fa-square-o icon-color-red');
			} else {
				// set 'active' to active
				$(this).next('.active_cb').val(1);
				
				id	  = $(this).next('.active_cb').attr('name');
				value = $(this).next('.active_cb').val();
				ajax(action, id, value);
				
				$(this).removeClass('fa-square-o icon-color-red');
				$(this).addClass('fa-check-square-o icon-color-green');
			}
		});
		
		function ajax(action, id, value){
			$.post('{EQDKP_ROOT_PATH}plugins/awards/ajax.php{SID}&'+action, {
					id: id,
					value: value
				}, function(data){
					$('#notify_container').notify('create', 'success', {text: data,title: '',custom: true,},{expires: 3000, speed: 1000});
			});
		}
	});
</script>

<form method="post" action="{ACTION}" name="post">
	<div class="contentHeader">
		<h1 class="contentTitle">{L_aw_manage_achievements}</h1>
	</div>
	<div class="tableHeader floatRight">
		<button class="mainoption" type="button" name="add" onclick="window.location='manage_achievements.php{SID}&amp;aid=0'"><i class="fa fa-plus"></i>{L_aw_add_achievement}</button>
	</div>
	<div class="clear"></div>
	<table width="100%" border="0" cellspacing="1" cellpadding="2" class="table fullwidth colorswitch" id="article_categories-table">
		{ACHIEVEMENTS_LIST}
	</table>
	<div class="center pagination_wrapper">
		{PAGINATION}
	</div>
	<div class="contentFooter">
		<button class="mainoption" type="button" name="del" onclick="delete_warning();"><i class="fa fa-times"></i>{L_delete_selected_entries}</button>
		<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
		<button class="mainoption" type="submit" name="update" disabled="disabled"><i class="fa fa-check"></i>{L_save}</button>
	</div>
{CSRF_TOKEN}	
</form>