
<form method="post" action="{ACTION}" name="post">
	<div class="contentHeader">
		<h1 class="contentTitle">{L_aw_manage_assignments}</h1>
	</div>
	<div class="tableHeader floatRight">
		<button class="mainoption" type="button" name="add" onclick="window.location='manage_assignments.php{SID}&amp;aid=0'"><i class="fa fa-plus"></i>{L_aw_add_assignment}</button>
	</div>
	<div class="clear"></div>
	<table width="100%" border="0" cellspacing="1" cellpadding="2" class="table fullwidth colorswitch" id="article_categories-table">
		{ASSIGNMENTS_LIST}
	</table>
	<div class="center pagination_wrapper">
		{PAGINATION}
	</div>
	<div class="contentFooter">
		<button class="mainoption" type="button" name="del" onclick="delete_warning();"><i class="fa fa-times"></i>{L_delete_selected_entries}</button>
		<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
	</div>
{CSRF_TOKEN}
</form>