<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li><a href="{EQDKP_ROOT_PATH}plugins/awards/admin/manage_achievements.php{SID}">{L_awards}: {L_aw_manage_achievements}</a></li>
		<li class="current"><a href=""><!-- IF NAME == '' -->{L_aw_add_achievement}<!-- ELSE -->{L_aw_edit_achievement}<!-- ENDIF --></a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<script type="text/javascript">
	$(document).ready(function() {
		if({AID}){
			icon_src = $('input[type="radio"][name="icon"][checked="checked"]').next('img').attr('src');
			icon_ext = icon_src.substring(icon_src.length - 4);
			if(icon_ext == '.svg'){
				$('#colorchange').show();
				$('#colorchange .icon_preview').load(icon_src, function() {
					for(i=1; i<=5; i++){
						$('#colorchange .icon_preview svg g:nth-child('+i+')').css('fill', $('#colorchange #icon_layer_'+i+'_input').val());
					}
				});
			}else{
				$('#colorchange').hide();
			}
		}else{
			$('#colorchange').hide();
		}
		
		$('input[type="radio"][name="icon"]').on('click', function(event){
			icon_src = $(this).next('img').attr('src');
			icon_ext = icon_src.substring(icon_src.length - 4);
			if(icon_ext == '.svg'){
				$('#colorchange').show(300);
				$('#colorchange .icon_preview').empty();
				$('#colorchange .icon_preview').load(icon_src, function() {
					for(i=1; i<=5; i++){
						$('#colorchange .icon_preview svg g:nth-child('+i+')').css('fill', $('#colorchange #icon_layer_'+i+'_input').val());
					}
				});
			}else{
				$('#colorchange').hide(300);
			}
		});
		
		$('.sp-picker-container button.sp-choose').on('click', function(){
			for(i=1; i<=5; i++){
				$('#colorchange .icon_preview svg g:nth-child('+i+')').css('fill', $('#colorchange #icon_layer_'+i+'_input').val());
			}
		});
	});
</script>
<style>
	#colorchange { position: absolute; display:inline-block; text-align: right; }
	#colorchange .icon_preview svg { width: 128px; height: 128px; }
	#colorchange .colorchange_container { position: relative; top: -15.5em; }
</style>

<form method="post" action="{ACTION}" name="post">
<fieldset class="settings mediumsettings">
	<legend><!-- IF NAME == '' -->{L_aw_add_achievement}<!-- ELSE -->{L_aw_edit_achievement}<!-- ENDIF --></legend>
	<dl>
		<dt><label>{L_name}:</label>
		<br /><span>{L_aw_name_help}</span></dt>
		<dd>{ML_NAME}</dd>
	</dl>
	<dl>
		<dt><label>{L_description}:</label>
		<br /><span>{L_aw_desc_help}</span></dt>
		<dd>{ML_DESCRIPTION}</dd>
	</dl>
	<dl>
		<dt><label>{L_active}:</label>
		<br /><span>{L_aw_active_help}</span></dt>
		<dd>{R_ACTIVE_STATE}</dd>
	</dl>
	<dl>
		<dt><label>{L_aw_special}:</label>
		<br /><span>{L_aw_special_help}</span></dt>
		<dd>{R_SPECIAL_STATE}</dd>
	</dl>
	<dl>
		<dt><label>{L_aw_value}:</label></dt>
		<dd>{SPINNER_POINTS}</dd>
	</dl>
	<dl>
		<dt><label>{L_aw_dkp_value}:</label></dt>
		<dd>{SPINNER_DKP}</dd>
	</dl>
	<dl>
		<dt><label>{L_event}:</label></dt>
		<dd>{DD_EVENT}</dd>
	</dl>
	<dl>
		<dt><label>{L_aw_auto_assign}:</label>
		<br /><span>{L_aw_auto_assign_help}</span></dt>
		<dd>{DD_MODULE} <input type="text" id="module_set" class="input" value="{MODULE_SET}" name="module_set" size='20' placeholder="param1,param2,..." /></dd>
	</dl>
	<dl>
		<dt><label>{L_aw_icon_header}:</label></dt>
		<dd><button class="mainoption" type="button" id="iubuttonedit" onclick="elfinder_all();"><i class="fa fa-upload"></i> {L_aw_upload_icon}</button></dd>
	</dl>
	<table width="87%" border="0" cellspacing="1" cellpadding="2" class="scrollable-x floatLeft">
		<!-- IF ICONS -->
		<!-- BEGIN files_row -->
		<tr class="colorswitch">
			<!-- BEGIN fields -->
			<td class="nowrap" width="16%">
				<!-- IF files_row.fields.CHECKBOX -->
				<label><input type="radio" name="icon" {files_row.fields.CHECKED} value="{files_row.fields.NAME}" />
				{files_row.fields.IMAGE}</label>
				<!-- ENDIF -->
			</td>
			<!-- END fields -->
		</tr>
		<!-- END files_row -->
		<!-- ENDIF -->
	</table>
	
	<div id="colorchange">
		<div class="colorchange_container">
			<div class="icon_preview"></div>
			Layer 1: {CP_ICON_LAYER_1}<br />
			Layer 2: {CP_ICON_LAYER_2}<br />
			Layer 3: {CP_ICON_LAYER_3}<br />
			Layer 4: {CP_ICON_LAYER_4}<br />
			Layer 5: {CP_ICON_LAYER_5}
		</div>
	</div>
	<div class="clear" />
	
	<br />
</fieldset>

<div class="contentFooter">
	<button class="mainoption" type="submit" name="save"><i class="fa fa-check"></i>{L_save}</button>
	<input type="hidden" name="aid" value="{AID}" />
	<button class="mainoption" type="button" name="" onclick="window.location.href='{EQDKP_ROOT_PATH}plugins/awards/admin/manage_achievements.php{SID}'"><i class="fa fa-chevron-left"></i>{L_cancel}</button>
</div>
{CSRF_TOKEN}
</form>