<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li><a href="{EQDKP_ROOT_PATH}plugins/awards/admin/manage_achievements.php{SID}">{L_awards}: {L_aw_manage_achievements}</a></li>
		<li class="current"><a href=""><!-- IF AID -->{L_aw_edit_achievement}<!-- ELSE -->{L_aw_add_achievement}<!-- ENDIF --></a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<script type="text/javascript">
	$(document).ready(function() {
		//check if the pre-defined icon an svg
		if({AID}){
			icon_src = $('input[type="radio"][name="icon"][checked="checked"]').next('img').attr('src');
			icon_ext = icon_src.substring(icon_src.length - 4);
			if(icon_ext == '.svg'){
				$('#colorchange').css('visibility', 'visible');
				$('#colorchange .icon_preview').load(icon_src, function() {
					icon_areas = $('#colorchange .icon_preview svg').children('g').length;
					for(i=1; i<=5; i++){
						if(i <= icon_areas){
							$('#colorchange #icon_layer_'+i+'_input').spectrum('enable');
							$('#colorchange .icon_preview svg g:nth-child('+i+')').css('fill', $('#colorchange #icon_layer_'+i+'_input').val());
						}else{
							$('#colorchange #icon_layer_'+i+'_input').spectrum('disable');
						}
					}
				});
			}else{
				$('#colorchange').css('visibility', 'hidden');
			}
		}else{
			$('#colorchange').css('visibility', 'hidden');
		}
		
		//check if the selected icon an svg
		$('input[type="radio"][name="icon"]').on('click', function(event){
			icon_src = $(this).next('img').attr('src');
			icon_ext = icon_src.substring(icon_src.length - 4);
			if(icon_ext == '.svg'){
				$('#colorchange').css('visibility', 'visible');
				$('#colorchange .icon_preview').empty();
				$('#colorchange .icon_preview').load(icon_src, function() {
					icon_areas = $('#colorchange .icon_preview svg').children('g').length;
					for(i=1; i<=5; i++){
						if(i <= icon_areas){
							$('#colorchange #icon_layer_'+i+'_input').spectrum('enable');
							$('#colorchange .icon_preview svg g:nth-child('+i+')').css('fill', $('#colorchange #icon_layer_'+i+'_input').val());
						}else{
							$('#colorchange #icon_layer_'+i+'_input').spectrum('disable');
						}
					}
				});
			}else{
				$('#colorchange').css('visibility', 'hidden');
			}
		});
		
		//change dynamicly icon with new colors
		$('.sp-picker-container button.sp-choose').on('click', function(){
			icon_areas = $('#colorchange .icon_preview svg').children('g').length;
			for(i=1; i<=icon_areas; i++){
				$('#colorchange .icon_preview svg g:nth-child('+i+')').css('fill', $('#colorchange #icon_layer_'+i+'_input').val());
			}
		});
		
		//check pre-defined cronjob module condition
		if( $('#module_cond').val() != 0 ){ $('.module_show').show(); }else{ $('.module_show').hide(); }
		
		//handle cronjob module rows
		$('#module_cond').change(function(){
			if( $(this).val() != 0 ){ $('.module_show').show(); }
			else{ $('.module_show').hide(); }
		});
		
		$('#modules option').on('click', function(event){
			if( !$(this).attr('disabled') ){
				$(this).attr('disabled', 'disabled');
				new_row = $('#aw_reference_table tr[name="'+$(this).val()+'"]').html();
				$("#aw_module_table").find('tbody').append('<tr>'+new_row+'</tr>');
			}
		});
	});
	
	function delete_module_row(obj, module){
		$('#modules option[value="'+module+'"]').removeAttr('disabled');
		$('#modules option[value="'+module+'"]').removeAttr('selected');
		$(obj).parent().parent().remove();
	}
</script>
<style>
	#colorchange { position: absolute; display: inline-block; text-align: right; visibility: hidden; }
	#colorchange .icon_preview svg { width: 128px; height: 128px; }
	#colorchange .colorchange_container { position: relative; top: -15.5em; }
</style>

<form method="post" action="{ACTION}" name="post">
<fieldset class="settings mediumsettings">
	<legend><!-- IF AID -->{L_aw_edit_achievement}<!-- ELSE -->{L_aw_add_achievement}<!-- ENDIF --></legend>
	<dl>
		<dt><label>{L_name}:</label>
		<br /><span>{L_aw_name_help}</span></dt>
		<dd>{ML_NAME}</dd>
	</dl>
	<dl>
		<dt><label>{L_description}:</label>
		<br /><span>{L_aw_desc_help}</span></dt>
		<dd>{ML_DESCRIPTION}</dd>
	</dl>
	<dl>
		<dt><label>{L_active}:</label>
		<br /><span>{L_aw_active_help}</span></dt>
		<dd>{R_ACTIVE_STATE}</dd>
	</dl>
	<dl>
		<dt><label>{L_aw_special}:</label>
		<br /><span>{L_aw_special_help}</span></dt>
		<dd>{R_SPECIAL_STATE}</dd>
	</dl>
	<dl>
		<dt><label>{L_aw_value}:</label>
		<br/><span>{L_aw_ap_help}</span></dt>
		<dd>{SPINNER_POINTS}</dd>
	</dl>
	<dl>
		<dt><label>{L_aw_dkp_value}: <!-- IF AID --><i class="fa fa-exclamation-triangle" title="{L_aw_dkp_warn}" style="color:#DD5D00; cursor: help;"></i><!-- ENDIF --></label>
		<br/><span>{L_aw_dkp_help}</span></dt>
		<dd>{SPINNER_DKP}</dd>
	</dl>
	<dl>
		<dt><label>{L_event}:</label>
		<br/><span>{L_aw_event_help}</span></dt>
		<dd>{DD_EVENT}</dd>
	</dl>
	<dl>
		<dt><label>{L_aw_auto_assign}:</label>
		<br /><span>{L_aw_auto_assign_help}</span></dt>
		<dd>
			{DD_MODULE_COND} <span class="module_show">{L_aw_module_condition}</span>
			<table id="aw_module_table" class="table fullwidth colorswitch module_show">
				<tbody>
				<!-- BEGIN module_row -->
				<tr>
					<td><input type="hidden" name="module[{module_row.NAME}][name]" value="{module_row.NAME}" />{module_row.TITLE}</td>
					<!-- IF module_row.ADDITION -->
					<td style="padding: 2px 0px 0px;"><input type="text" name="module[{module_row.NAME}][value]" value="{module_row.VALUE}" class="input" style="height: 13px;" size="3" /> {module_row.VALUE_TEXT}</td>
					<!-- ENDIF -->
					<td><i class="fa fa-trash-o fa-lg hand" title="{L_aw_module_row_delete}"  onclick="delete_module_row(this, '{module_row.NAME}');"></i></td>
				</tr>
				<!-- END module_row -->
				</tbody>
			</table>
			{DD_MODULES}
		</dd>
	</dl>
	<dl>
		<dt><label>{L_aw_icon_header}:</label>
		<br /><span>{L_aw_icon_help}</span></dt>
		<dd><button class="mainoption" type="button" id="iubuttonedit" onclick="elfinder_all();"><i class="fa fa-upload"></i> {L_aw_upload_icon}</button></dd>
	</dl>
	<table width="87%" border="0" cellspacing="1" cellpadding="2" class="scrollable-x floatLeft">
		<!-- IF ICONS -->
		<!-- BEGIN files_row -->
		<tr class="colorswitch">
			<!-- BEGIN fields -->
			<td class="nowrap" width="16%">
				<!-- IF files_row.fields.CHECKBOX -->
				<label><input type="radio" name="icon" {files_row.fields.CHECKED} value="{files_row.fields.NAME}" />
				{files_row.fields.IMAGE}</label>
				<!-- ENDIF -->
			</td>
			<!-- END fields -->
		</tr>
		<!-- END files_row -->
		<!-- ENDIF -->
	</table>
	
	<div id="colorchange">
		<div class="colorchange_container">
			<div class="icon_preview"></div>
			Background: {CP_ICON_LAYER_1}<br />
			Layer 1: {CP_ICON_LAYER_2}<br />
			Layer 2: {CP_ICON_LAYER_3}<br />
			Layer 3: {CP_ICON_LAYER_4}<br />
			Layer 4: {CP_ICON_LAYER_5}
		</div>
	</div>
	<div class="clear" />
	
	<br />
</fieldset>

<div class="contentFooter">
	<button class="mainoption" type="submit" name="save"><i class="fa fa-check"></i>{L_save}</button>
	<input type="hidden" name="aid" value="{AID}" />
	<button class="mainoption" type="button" name="" onclick="window.location.href='{EQDKP_ROOT_PATH}plugins/awards/admin/manage_achievements.php{SID}'"><i class="fa fa-chevron-left"></i>{L_cancel}</button>
</div>
{CSRF_TOKEN}
</form>

<table id="aw_reference_table" style="display:none;">
	<!-- BEGIN all_modules_row -->
	<tr name="{all_modules_row.NAME}">
		<td><input type="hidden" name="module[{all_modules_row.NAME}][name]" value="{all_modules_row.NAME}" />{all_modules_row.TITLE}</td>
		<!-- IF all_modules_row.ADDITION -->
		<td style="padding: 2px 0px 0px;"><input type="text" name="module[{all_modules_row.NAME}][value]" value="" class="input" style="height: 13px;" size="3" /> {all_modules_row.VALUE_TEXT}</td>
		<!-- ENDIF -->
		<td><i class="fa fa-trash-o fa-lg hand" title="{L_aw_module_row_delete}"  onclick="delete_module_row(this, '{all_modules_row.NAME}');"></i></td>
	</tr>
	<!-- END all_modules_row -->
</table>