<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li class="current"><a href="">{L_awards}: {L_aw_achievements}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<script type="text/javascript">
$(document).ready(function() {
	$('.awToggleTrigger').on('click', function(event){
		if ($(this).hasClass('member-view')){
			$(this).children('.ac-user-list').css('display','none');
			$(this).removeClass('member-view');
		} else {
			$(this).addClass('member-view');
			$(this).children('.ac-user-list').css('display','inline-block');
		}
	});
});
</script>

<div id="awards">
	<div class="contentHeader">
		<h1 class="contentTitle">{L_aw_achievements}</h1>
	</div>
	
	<div class="contentBody">
		<!-- IF User_logged_in -->
		<div class="aw-tabs">
			<ul>
				<a href=""><li class="aw-tab-user">Show User Awards Tab</li></a>
				<!-- IF S_ADMIN --><a href=""><li class="aw-tab-assign">Manage Assignment Tab</li></a><!-- ENDIF -->
				<!-- IF S_ADMIN --><a href=""><li class="aw-tab-achiev">Manage Achievement Tab</li></a><!-- ENDIF -->
			</ul>
		</div>
		<div class="clear"></div>
		<!-- ENDIF -->
		
		<!--<div class="aw-cat">
			<ul>
				<li><a href="">{L_aw_cat_all}</a></li>
				<li><a href="">{L_aw_cat_1}</a></li>
				<li><a href="">{L_aw_cat_2}</a></li>
				<li><a href="">{L_aw_cat_3}</a></li>
				<li><a href="">{L_aw_cat_4}</a></li>
			</ul>
		</div>-->
		
		<div class="aw-list">
			<div class="aw-progress">{ PROGRESSBAR }</div>
			
			
			<div class="reached">
				<!-- BEGIN awards_row -->
				<!-- BEGIN award -->
				<div class="award ac-{awards_row.award.ID} awToggleTrigger">
					<div class="ac-icon floatLeft">
						<img src="{EQDKP_ROOT_PATH}{awards_row.award.ICON_URL}" />
					</div>
					
					<div class="ac-points floatRight">
						<!-- IF awards_row.award.DKP_ACTIVE != "0" -->
						<span class="ac-points-big" style="<!-- IF awards_row.award.DKP_ACTIVE == "1" -->color: #C03D00;<!-- ELSE -->color: #20C000;<!-- ENDIF -->">
							{awards_row.award.DKP}
							<span class="ac-points-small">{awards_row.award.AP}</span>
						</span>
						<!-- ELSE -->
						<span class="ac-points-big">
							{awards_row.award.AP}
						</span>
						<!-- ENDIF -->
					</div>
					
					<div class="ac-main">
						<h2 class="ac-title">{awards_row.award.TITLE}</h2>
						<p class="ac-desc">{awards_row.award.DESC}</p>
						<p class="ac-date">{awards_row.award.DATE}</p>
					</div>
					
					<div class="ac-user-list" style="display:none;">
						<!-- BEGIN members -->
						{awards_row.award.members.MEMBER}
						<!-- END members -->
						Sollte evntl. über Member IDs ausgewertet und diese dann über PDH "member" dekoriert werden.
					</div>
				</div>
				<!-- END award -->
				<!-- END awards_row -->
			</div>
			
			
			
			<!-- Hier folgt der nicht erhaltene (ausgegraute) Errfolg -->
			<div class="unreached">
				<!-- BEGIN unreached_row -->
				<!-- BEGIN award -->
				<div class="award ac-{unreached_row.award.ID} awToggleTrigger">
					<div class="ac-icon floatLeft">
						<img src="{EQDKP_ROOT_PATH}{unreached_row.award.ICON_URL}" />
					</div>
					
					<div class="ac-points floatRight">
						<!-- IF unreached_row.award.DKP_ACTIVE != "0" -->
						<span class="ac-points-big" style="<!-- IF unreached_row.award.DKP_ACTIVE == "1" -->color: #C03D00;<!-- ELSE -->color: #20C000;<!-- ENDIF -->">
							{awards_row.award.DKP}
							<span class="ac-points-small">{unreached_row.award.AP}</span>
						</span>
						<!-- ELSE -->
						<span class="ac-points-big">
							{unreached_row.award.AP}
						</span>
						<!-- ENDIF -->
					</div>
					
					<div class="ac-main">
						<h2 class="ac-title">{unreached_row.award.TITLE}</h2>
						<p class="ac-desc">{unreached_row.award.DESC}</p>
						<p class="ac-date"> </p>
					</div>
					
					<div class="ac-user-list" style="display:none;">
						Dieser Erfolg wird noch erarbeitet...
					</div>
				</div>
				<!-- END award -->
				<!-- END unreached_row -->
			</div>
			
			
		</div>
	</div>
	
	<div class="contentFooter"></div>
</div>







<div class="clear"></div>