<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li class="current"><a href="">{L_awards}: {L_aw_achievements}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<script type="text/javascript"></script>

<div>
	<div class="contentHeader">
			<h1 class="contentTitle">{L_aw_achievements}</h1>
		</div>
		<div class="tableHeader floatRight">
			<button class="mainoption" type="button" name="add" onclick="window.location='manage_achievements.php{SID}&amp;aid=0'"><i class="fa fa-plus"></i>{L_aw_add_achievement}</button>
		</div>







<div class="contentFooter"></div>
</div>







<div class="clear"></div>